# Web Scraping

![Data Science Workflow](DSworkflow.png)

## Acquire Data
### Common Data Sources
- **The Internet - Web Scraping**
- Databasis
- CSV
- Excel
- Parquet

### Web Scraping
- Extracting data from websites
- Leagal issues: [wikipedia.org](https://en.wikipedia.org/wiki/Web_scraping#Legal_issues)
- The legality of web scraping varies across the world.
- In general, web scraping may be against the terms of use of some websites, but the enforceability of these terms is unclear.

### Be ethical
- Not for commercial use
- Only private use

## Example
- Let's consider [https://en.wikipedia.org/wiki/Wikipedia:Fundraising_statistics](https://en.wikipedia.org/wiki/Wikipedia:Fundraising_statistics)
- **pandas** ```.read_html(.)``` Read HTML tables into a list of DataFrame objects ([docs](https://pandas.pydata.org/docs/reference/api/pandas.read_html.html)).

In [2]:
import pandas as pd

In [65]:
url='https://en.wikipedia.org/wiki/Wikipedia:Fundraising_statistics'
data=pd.read_html(url)

In [66]:
type(data[0])

pandas.core.frame.DataFrame

In [67]:
data[0].head()

      Year Source        Revenue       Expenses    Asset rise   Total assets
0  2020/21    PDF  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
1  2019/20    PDF  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
2  2018/19    PDF  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
3  2017/18    PDF  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570
4  2016/17    PDF   $ 91,242,418   $ 69,136,758  $ 21,547,402  $ 113,330,197

In [68]:
fundrising=data[0]

In [69]:
fundrising.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
dtype: object

## Data Wrangling
- Data wrangling (data munging): transforming and mapping data from one "raw" data form into another format
- With the intent of making it more appropriate and valuable for a variety of downstream purposes such as analytics

In [70]:
fundrising['Revenue_']=fundrising['Revenue'].str[2:]
fundrising['Revenue_']=fundrising['Revenue_'].str.replace(',','')
fundrising['Expenses_']=fundrising['Expenses'].str[2:]
fundrising['Expenses_']=fundrising['Expenses_'].str.replace(',','')
fundrising['Asset_rise']=fundrising['Asset rise'].str[2:]
fundrising['Asset_rise']=fundrising['Asset_rise'].str.replace(',','')
fundrising['Total_assets']=fundrising['Total assets'].str[2:]
fundrising['Total_assets']=fundrising['Total_assets'].str.replace(',','')

In [71]:
fundrising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Revenue_,Expenses_,Asset_rise,Total_assets
0,2020/21,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536",162886686,111839819,50861811,231177536
1,2019/20,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725",129234327,112489397,14674300,180315725
2,2018/19,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425",120067266,91414010,30691855,165641425
3,2017/18,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",104505783,81442265,21619373,134949570
4,2016/17,PDF,"$ 91,242,418","$ 69,136,758","$ 21,547,402","$ 113,330,197",91242418,69136758,21547402,113330197

### Check the data types
- Remember ```.dtypes```

In [73]:
fundrising.drop(columns=['Revenue','Expenses','Asset rise','Total assets'],axis=1,inplace=False)

       Year Source   Revenue_  Expenses_ Asset_rise Total_assets
0   2020/21    PDF  162886686  111839819   50861811    231177536
1   2019/20    PDF  129234327  112489397   14674300    180315725
2   2018/19    PDF  120067266   91414010   30691855    165641425
3   2017/18    PDF  104505783   81442265   21619373    134949570
4   2016/17    PDF   91242418   69136758   21547402    113330197
5   2015/16    PDF   81862724   65947465   13962497     91782795
6   2014/15    PDF   75797223   52596782   24345277     77820298
7   2013/14    PDF   52465287   45900745    8285897     53475021
8   2012/13    PDF   48635408   35704796   10260066     45189124
9   2011/12    PDF   38479665   29260652   10736914     34929058
10  2010/11    PDF   24785092   17889794    9649413     24192144
11  2009/10    PDF   17979312   10266793    6310964     14542731
12  2008/09    PDF    8658006    5617236    3053599      8231767
13  2007/08    PDF    5032981    3540724    3519886      5178168
14  2006/07    PDF    2734909    2077843     654066      1658282
15  2005/06    PDF    1508039     791907     736132      1004216
16  2004/05    PDF     379088     177670     211418       268084
17  2003/04    PDF      80129      23463      56666        56666

In [77]:
#fundrising['Year']=fundrising['Year'].astype('datetime64[ns]')

In [80]:
#fundrising['Year'] = fundrising['Year'].astype(str).astype(int)